<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<node pkg="motor_ros" name="servomotor_listener_raspy" type="servomotor_percentagevelocities_listener_raspy.py" output="screen"/> 

	<!--
	<node pkg="wit_node" type="wit_node" name="wit_node" output="screen">
		<param name="wit_node_port_" value="/dev/ttyUSB0"/>
    	<param name="baut_rate_" value="9600"/>
	</node>
	-->

</launch>